<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="youga.tamingtask">


    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".TamingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExerciseTamingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <service
            android:name=".taming.TamingService"
            android:enabled="true"
            android:exported="true">
        </service>

        <service
            android:name=".taming.TamingService$TamingInnerService"
            android:enabled="true"
            android:exported="false"
            />

        <service
            android:name=".taming.JobSchedulerService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":Taming">
        </service>


        <service
            android:name=".taming.TamingGuardService"
            android:enabled="true"
            android:exported="false"
            android:process=":Taming"/>

        <service
            android:name=".taming.TamingGuardService$TamingGuardInnerService"
            android:enabled="true"
            android:exported="false"
            android:process=":Taming"/>

        <receiver
            android:name=".taming.WakeUpReceiver"
            android:process=":Taming">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>

                <data android:scheme="package"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".taming.TamingReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="youga.tamingtask.taming.ALARM_WAKE_ACTION"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>